.empty-menu
	padding 0 1em 1em
	text-align center

	a
		display inline-block
		text-decoration none
		border solid 1px #eee
		padding .5em 1em
		border-radius 4px
		text-transform uppercase
		color inherit
