html, body
	padding 0
	margin 0
	height 100%
	cursor default

.mnamgo
	display flex
	flex-direction column
	align-items stretch
	width 100%
	height 100%
	background #eee

	.restaurants
		overflow-y auto
