@import 'nib'

.restaurants
	padding .5em
	clearfix()

.restaurant
	display block
	vertical-align top

	background #fff
	border-radius 4px
	box-shadow 0 0 10px rgba(#000, .2)
	margin .5em .5em 1em

	&.is-empty
		opacity .2

	@media (min-width: 60em)
		width 100%
		max-width 30em
		display inline-block

	&-menu
		overflow-x hidden

	&-name
		font-size 1.25em
		a
			text-decoration inherit
			color inherit

		margin 0
		padding 1.25em .8em

.tmi-group-name
	font-weight bold
	padding 5px $base-font-size
	font-size 10px

.tmi
	position relative

	padding 0 $base-font-size
	padding-bottom .5em
	border-bottom solid 1px #eee
	margin-bottom .5em

	&-daily
		color #555

	&.bold
		color #000
		font-weight bold

	&-text-group
		margin-right 80px

	&-price
		position absolute
		opacity .5
		top .4em
		right 1em
		font-size 12px

@media (max-width: 60em)
	.restaurant-menu
		display none
	.restaurant.is-open .restaurant-menu
		display block
